.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #000000;
  color: #ffffff;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: clamp(1.8rem, 2.5vw, 3.6rem);
}

.hamburger {
  position: relative;
  width: 2.4rem;
  height: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger span {
  position: absolute;
  width: 2.4rem;
  height: 0.2rem;
  background-color: #fff;
  transition: 0.3s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 0.9rem;
}

.hamburger span:nth-child(3) {
  top: 1.8rem;
}

.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0.9rem;
}

.open span:nth-child(2) {
  display: none;
}

.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 0.9rem;
}

.navList {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #000;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.navOpen {
  display: flex;
}

.navList li a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navList {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    gap: 1.5rem;
  }
}
