.card {
    width: calc(50% - 4rem);
    aspect-ratio: 100 / 165;
    cursor: pointer;
    transition: opacity 0.5s ease;
    background: url('/img/tarot/card-back.png') no-repeat center center;
    background-size: cover;
    border-radius: .5rem;
    transition: transform 250ms;
    padding: 2rem;
    background-size: cover;
  }
  
  .card p {
    color: black; /* to counter out the white default in madame.module.css */
  }
  
  .faded {
    opacity: 0.3;
    pointer-events: none;
    transition: ease-in-out 500ms;
  }
  
  .selected {
    background: url('/img/tarot/card-back-selected.png') no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 1rem white;
  }

  .card.revealed {
    width: 100%;
    background: url('/img/tarot/card-front.png') no-repeat center center;
    background-size: cover;
    cursor: default;
  }

  @media (hover: hover) {
    .card:not(.selected):hover { 
        transform: scale(1.05);
        box-shadow: 0 0 1rem rgb(0, 0, 0, .2);
        box-shadow: 0 0 1rem white;
        transition: scale box-shadow 5s ease-out;
    }
  }

  @media screen and (min-width: 620px) {
    .card {
        max-width: 150px;
        max-height: 250px;
    }
  }

  @media screen and (min-width: 800px) {
    .card.revealed {
        max-width: 240px;
        max-height: 400px;
    }
  }
